In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.0'

In [4]:
dict_medidas = {'idade': [15, 18, 25, 25, 45, 55, 56, 65, 81], 'altura': [160, 162, 165, 170, 175, 175, 185, 190, 195]}

In [5]:
dict_medidas

{'idade': [15, 18, 25, 25, 45, 55, 56, 65, 81],
 'altura': [160, 162, 165, 170, 175, 175, 185, 190, 195]}

In [6]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [7]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     170
4     45     175
5     55     175
6     56     185
7     65     190
8     81     195

## Medidas Resumo

### Medidas de Posição

In [8]:
# media
df_medidas["idade"].mean()

np.float64(42.77777777777778)

In [9]:
#mediana
df_medidas["idade"].median()

np.float64(45.0)

In [10]:
#moda
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

In [11]:
#moda
df_medidas["altura"].mode()

0    175
Name: altura, dtype: int64

### Medidas de Dispersão

In [12]:
#variância
df_medidas.idade.var()

np.float64(537.6944444444443)

In [13]:
#desvio padrão
df_medidas.idade.std()

np.float64(23.18823935628672)

In [16]:
#coeficiente de variação - Idade
df_medidas.idade.std() / df_medidas.idade.mean() * 100

np.float64(54.206273819891024)

In [17]:
#coeficiente de variação - Altura
df_medidas.altura.std() / df_medidas.altura.mean() * 100

np.float64(7.115385241318342)